// color variables
$main-color-dark: #58a8b7;
$main-color-light: #57cbe0;
$main-color-ultralight: #a5eaf7;
$main-color-opposite: white;

// div
.center {
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.row {
    width: 100%;
    margin: 0;
    // background-color: $main-color-ultralight;
    border-radius: 5px;
}

%card {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.chatroom-card {
    @extend %card;
    background-color: $main-color-dark;
}

.chatroom-card:hover {
    background-color: $main-color-light;
}

.chatroom-card-selected {
    @extend %card;
    background-color: $main-color-light;
}

#welcome-page {
    margin: 0;
    height: 100vh;
    background-color: $main-color-light;

    #welcome-area {
        display: inline-block;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

#logged-in-page {
    height: 100vh;
    width: 100%;
    display: none;
}

#left-col, #right-col {
    height: 100vh;
    padding: 0;
}

#chatroom-list-area, #chat-area {
    height: 80vh;
    display: flex;
    flex-flow: column;
    padding: 20px;
    background-color: $main-color-ultralight;
    border-radius: 5px;
}

#chatroom-list-area {
    @media (min-width: 768px) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

#chat-area {
    @media (min-width: 768px) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

#current-chatroom-area {
    height: 100%;
    display: none;
    flex-flow: column;
}

#chatroom-not-selected {
    height: 100%;
    width: 100%;

    p {
        display: inline-block;
    }
}

#new-chatroom-input-area, #change-username-area, #new-message-input-area{
    min-height: 38px;
}

#chatrooms, #message-area {
    overflow-y: auto;
    flex-grow: 1;
}

#message-area {
    background-color: $main-color-opposite;
    padding: 10px;
    border-radius: 5px;
}

#new-message-input-area {
    margin-top: auto;
}

// components
.btn-outline-primary {
    border-color: $main-color-dark;
    color: $main-color-dark;
}

.btn-outline-primary:hover {
    background-color: $main-color-dark;
    border-color: $main-color-dark;
    color: $main-color-opposite;
}
