/***********************************************************
DIV
************************************************************/
#login-page {
  height: 100vh;
  width: 100vw;
}
#login-page #login-form-pane,
#login-page #login-info-pane {
  position: relative;
}
@media (min-width: 768px) {
  #login-page #login-form-pane,
#login-page #login-info-pane {
    height: 100%;
  }
  #login-page #login-form-pane h1,
#login-page #login-form-pane h4,
#login-page #login-form-pane h6,
#login-page #login-info-pane h1,
#login-page #login-info-pane h4,
#login-page #login-info-pane h6 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #login-page #login-form-pane button,
#login-page #login-info-pane button {
    width: 50%;
  }
}
@media (max-width: 767px) {
  #login-page #login-form-pane h1,
#login-page #login-info-pane h1 {
    font-size: 24px;
  }
  #login-page #login-form-pane h4,
#login-page #login-info-pane h4 {
    font-size: 20px;
  }
  #login-page #login-form-pane button,
#login-page #login-info-pane button {
    width: 100%;
  }
}
#login-page #login-form-pane {
  background-color: #169647;
}
#login-page #login-form-pane .center {
  width: 60%;
}
@media (max-width: 767px) {
  #login-page #login-form-pane {
    height: 60%;
  }
  #login-page #login-form-pane .center {
    width: 80%;
  }
}
#login-page #login-info-pane {
  background-color: white;
}
#login-page #login-info-pane .center {
  width: 100%;
}
@media (max-width: 767px) {
  #login-page #login-info-pane {
    height: 40%;
  }
}

.center {
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-space {
  height: 56px;
}

.menu-heading {
  padding: 6px 10px;
  margin: 16px 0;
  font-weight: bolder;
}

.table-menu-items {
  display: flex;
  width: 100%;
  padding: 6px 0 0 10px;
}

.col-item-name {
  flex: 1;
}
.col-item-name p {
  margin-bottom: 6px;
}
@media (max-width: 320px) {
  .col-item-name p {
    font-size: 14px;
  }
}

.col-item-price {
  width: 75px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
}
.col-item-price div {
  display: inline-block;
  width: 65%;
  text-align: right;
}
.col-item-price p {
  width: 100%;
  margin-bottom: 6px;
}
@media (max-width: 320px) {
  .col-item-price p {
    font-size: 14px;
  }
}
.col-item-price a {
  display: inline-block;
}

#pizza-confirmation-section,
#sub-confirmation-section {
  display: none;
}
#pizza-confirmation-section p,
#sub-confirmation-section p {
  margin-top: 12px;
}

#pizza-confirmation-btn-area,
#sub-confirmation-btn-area {
  text-align: center;
  width: 100%;
}
#pizza-confirmation-btn-area div,
#sub-confirmation-btn-area div {
  display: inline-block;
}
#pizza-confirmation-btn-area div button,
#sub-confirmation-btn-area div button {
  margin-left: 16px;
  margin-right: 16px;
}

.sub-topping-list {
  display: none;
}

#shopping-cart {
  top: 96px;
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 5px;
  height: 75vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

#shopping-cart-list-area {
  flex: 1;
  overflow-y: scroll;
}

/***********************************************************
BUTTONS
************************************************************/
.btn-main-light {
  border: 2px solid white !important;
  color: white !important;
}

.btn-main-light:hover {
  background: red;
  color: white;
}

.btn-fa {
  background: none;
  border: none;
  padding: 0;
}

.btn-fa-sm {
  height: 24px;
}

/***********************************************************
NAVBAR
************************************************************/
.navbar {
  background-color: #333333;
}

.navbar.navbar-expand-sm.navbar-light a,
.navbar.navbar-expand-sm.navbar-light span {
  color: white;
}

/***********************************************************
FONTAWESOME
************************************************************/
.fa-times-circle {
  color: #d9534f;
}

.fa-check-circle,
.fa-plus-circle {
  color: #5cb85c;
}

.fa-sign-out-alt,
.fa-user {
  margin-left: 6px;
  margin-right: 6px;
}

/***********************************************************
INPUTS AND FORMS
************************************************************/
input {
  margin-bottom: 16px;
}

#registration-form {
  margin-top: 40px;
}

/***********************************************************
LINKS
************************************************************/
.yes-no-link {
  display: block;
}
.yes-no-link .yes-no-btn {
  width: 100%;
  margin-top: 10px;
}

#logout:hover {
  color: grey;
}

/***********************************************************
MISC
************************************************************/
hr {
  margin: 0;
}

@media (min-width: 768px) {
  .left-border {
    border-left: 2px solid lightgrey;
    margin-left: 18px;
    padding-left: 18px !important;
  }
}

/*# sourceMappingURL=style.css.map */
